<ion-header>
  <ion-navbar>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Geolocation</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <button ion-button block large (click)="getCurrentPosition()">Get Current Position</button>
  <button ion-button block large (click)="watchPosition()" color="secondary">Watch Your Position</button>
  <br>
  <p *ngIf="latitude">Latitude: {{latitude}}</p>
  <p *ngIf="longitude">Longitude: {{longitude}}</p>
</ion-content>